@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInUpSD {

  animation-name: fadeInUpSD;
}



@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translatex(35px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInRight;
}


@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translatex(-35px);

  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}


.slick-active {

  h1,
  p {
    animation-name: fadeInUpSD;
    animation-duration: 1s;
    opacity: 1;

  }


}








.slick-active {

  h1,
  p {
    animation-name: fadeInUpSD;
    animation-duration: 1s;
    opacity: 1;

  }


}

.slick-slider {
  &:hover {
    .slick-next {
      transform: translate(0, 0);
      animation-name: fadeInRight;
      animation-duration: 0.3s;
      opacity: 1;
    }

    .slick-prev {
      transform: translate(0, 0);
      animation-name: fadeInLeft;
      animation-duration: 0.3s;
      opacity: 1;
    }


  }
}